@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #222831;
}
/* Add this CSS to your global CSS file */
.black-and-white {
  filter: grayscale(50%);
}
