@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #222831;
}
/* Add this CSS to your global CSS file */
.black-and-white {
  filter: grayscale(50%);
}
.chart-container {
  margin: 20px auto; /* Center the container */
  max-width: 800px; /* Limit the width of the chart */
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1); /* Optional background for better visibility */
}
